# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Documents\DSS-pytorch-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
